---
import Layout from "../layouts/Layout.astro";
import ResetPasswordComponent from "../components/ResetPassword.tsx";
---

<Layout title="Reset Password - NFL Pickem">
  <main class="min-h-screen bg-gray-100">
    <ResetPasswordComponent client:load />
  </main>
</Layout>